body{
    margin: 0 auto;
    width: 100%;
}

header #baniere{
    display: flex;
    padding: 1%;
    background-image: url("assets/images/baniere-star.jpg");
    background-size: cover;
}
header img{
    width: 10%;
    height: 10%;
    padding: 0 1%;
}
#baniere h1{
    padding: 0 1%;
    font-size: 3em;
    color: #FFF;
}
nav{ /* A CHANGER POUR LE RESPONSIVE*/
    display: flex;
    justify-content: space-evenly;
    background-color: #5BC9C8;
    box-shadow: 0 5px 5px darkgray;
}
.navLink{
    width: 16.6%;
    padding: 5px 0;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #FFF;
}
.navLink:hover{
    background-color: #0E5A6D;
}
#container{ /* A CHANGER POUR LE RESPONSIVE*/background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 1% 12.5%;
}
.blabla{
    margin: 0 auto;
    font-size: 1.5em;
}
#corps{
    display: flex;
    padding: 2% 0 0 0;
}
.carteNasa{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 0 4%;
    justify-content: center;
    text-align: center;
}
.systemeSolaire{
    width: 100%;
    background-image: url(assets/images/systeme-solaire.jpg);
    background-size: cover;
    box-shadow: 0 5px 5px darkgray;
}
.entreDeux{
    width: 100%;
    display: flex;
    justify-content: end;
}
.entreDeux p{
    margin: 0.5% 0.5%;
    padding: 1%;
    background-color: lightgrey;
}
#vignettes{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.vignette{
    width: 25%;
}
.vignette h4{
    margin: 0;
    padding: 2%;
    background-color: lightgray;
    text-transform: uppercase;
}
.vignette img{
    max-width: 100%;
    min-width : 100%;
    height: 75%;
    background-size: contain;
}

@media screen and (max-width: 1200px){
    header img{
        padding: 1% 1%;
    }
    .navLink{
        width: 20%;
    }
}
@media screen and (max-width: 900px){
    header img{
        width: 10%;
        height: 10%;
        padding: 2% 2%;
    }
    nav{
        flex-direction: column;
        justify-content: center;
    }
    .navLink{
        width: 50%;
        margin: 0 25%;
    }
}
@media screen and (max-width: 750px){
    #baniere h1{
        font-size: 2.5em;
    }
    .carteNasa{
        width: 25%;
    }
    #vignettes{
        flex-direction: column;
        width: 100%;
        padding: 0 40%;
    }
}
@media screen and (max-width: 450px){
    #baniere h1{
        font-size: 1.5em;
    }
    .carteNasa{
        width: 50%;
    }
}