body{
    margin: 0 auto;
}

header div#baniere{
    display: flex;
    padding: 1%;
    background-image: url("assets/images/baniere-star.jpg");
}
header img{
    width: 10%;
}
header div#baniere h1{
    padding: 0 50px;
    font-size: 3em;
    color: #FFF;
}
header nav ul{
    display : flex;
    justify-content:space-evenly;
    height: 50px;
    margin: 0 10%;
    padding: 0;
    list-style-type: none;
}
header nav ul li{ /* A CHANGER POUR LE RESPONSIVE*/
    width: 16%;
}
header nav ul li a{
    text-decoration: none;
    font-size: 2em;
    width:100px;
    color: #FFF;
    padding: 1px 20% 12px 20%;
}
header nav ul li a:hover{
    background-color: #0E5A6D;
}
nav{
    background-color: #5BC9C8;
}

div#container{ /* A CHANGER POUR LE RESPONSIVE*/
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 12.5%;
}
div#blabla p{
    margin: 0 auto;
    font-size: 1.5em;
}
div#corps{
    height: 230px;
}
div#corps img:nth-child(1){
    width: 25%;
}
div#corps img:nth-child(2){
    width: 60%;
}
